{% extends "base.html" %}
{% block content %}
<div class="home-section">
    <h1>خدمات مشاوره روانشناسی</h1>
    <h3>گام اول به سوی سلامت روان</h3>
    <p class="psychology-text">
        روانشناسی به ما کمک می‌کند تا با درک بهتر خودمان و روابطمان، زندگی سالم‌تر و متعادلی داشته باشیم. در این سیستم، شما می‌توانید با مشاوران حرفه‌ای نوبت رزرو کنید و به بهبود سلامت روان خود بپردازید. برخی از فواید مشاوره شامل:
    </p>
    <ul class="psychology-text">
        <li>کاهش استرس و اضطراب</li>
        <li>بهبود روابط بین‌فردی</li>
        <li>افزایش اعتماد به نفس</li>
        <li>مدیریت مشکلات عاطفی</li>
    </ul>
    <p class="psychology-text">
        برای شروع، می‌توانید از نوار بالا روی "رزرو نوبت" کلیک کنید و با یکی از مشاوران ما ملاقات داشته باشید.
    </p>
</div>
{% endblock %}